<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>


    <application>
        <!-- Declare our main activity.  Set its intent filter to
             match android.intent.action.MAIN and
             android.intent.category.LAUNCHER, which means that users
             can launch it by clicking on the app icon in the phone's
             home screen (aka the launcher app).
             For android:name, you can either specify the full path to
             the activity (com.dummies.tasks.activity.TaskListActivity),
             or you can use a shortcut and just specify the relative
             path relative to your app's package id.
             -->
        <activity android:name="com.dummies.tasks.activity.TaskListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
